.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      text-decoration: none;
      color: var(--color-theme-primary);
    }
    &:hover {
      text-decoration: none;  
    }
  }
  
}
