.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      text-decoration: none;
      color: var(--color-theme-primary);
    }
    &:hover {
      text-decoration: none;  
    }
  }
  
   @media (prefers-color-scheme: dark), [data-user-color-scheme='dark'] {
     &__link {
      &,
      &:visited {
        position: relative;
        display: inline-block;
        text-decoration: none;
        word-break: break-word;
        font-weight: bold;
        background: var(--color-theme-main-link);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
      }
       &:before{
        left: -3px;
        bottom: 0;
        width: 150%;
        height: 5px;
        background: var(--color-theme-main-link);
        transform: translateX(-100%);
      }
       &:focus:before{
         transform: translateX(0);
       } 
     }
  }
}
