.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      text-decoration: none;
	    background: var(--color-theme-main-link);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	    -webkit-box-decoration-break: clone;
	    position: relative;
			padding-bottom: 5px;
			overflow: hidden;
			display: inline-block;
			&::before{
				left: -3px;
				bottom: 0;
				width: 150%;
				height: 5px;
				background: var(--color-theme-main-link);
				transform: translateX(-100%);
			}
			&:focus&:before{
				transform: translateX(0);
			}
    }

    &:hover {
      text-decoration: none;
    }
  }
}
