:root {
  // Pull the tokens and generate custom props
  @each $color in $stalfos-colors {
    #{'--color-' + nth($color, 1)}: #{nth($color, 2)};
  }

  // Set theme aliases
  --color-mode: 'light';
  --color-bg: #{get-color('light')};
  --color-bg-glare: #{get-color('highlight')};
  --color-text: #{get-color('dark')};
  --color-text-glare: #{get-color('dark')};
  --color-selection-text: #{get-color('light')};
  --color-selection-bg: #{get-color('dark')};
  --color-stroke: #{get-color('mid')};
  --color-action-bg: #{get-color('primary')};
  --color-action-text: #fff;
  --color-theme-primary: #{get-color('primary')};
  --color-theme-primary-glare: #{get-color('primary-glare')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: #{get-color('highlight')};
  --color-theme-feature-text: #{get-color('light')};
  --color-theme-post-link: #5842ab;
}

@include dark-mode() {
  --color-bg: #{get-color('dark')};
  --color-bg-glare: radial-gradient(ellipse at top left, #020024, transparent),  radial-gradient(circle at center left, #0f20be, transparent),  radial-gradient(ellipse at top right, #f81e9c, transparent),  radial-gradient(ellipse at center, #ff0000, transparent),  radial-gradient(circle at bottom right, #000, transparent);
  --color-text: #B9B8C2;
  --color-selection-text: #{get-color('dark')};
  --color-selection-bg: #{get-color('light')};
  //--color-stroke: #{get-color('slate')};
  --color-theme-primary: #{lighten(get-color('primary'), 50%)};
  --color-theme-primary-glare: #{lighten(get-color('primary-glare'), 50%)};
  --color-action-bg: var(--color-theme-primary-glare);
  --color-action-text: #{get-color('dark')};
  --color-theme-highlight: #{get-color('highlight')};
  --color-theme-highlight-block: radial-gradient(ellipse at top left, #020024, transparent),  radial-gradient(circle at center left, #0f20be, transparent),  radial-gradient(ellipse at top right, #f81e9c, transparent),  radial-gradient(ellipse at center, #ff0000, transparent),  radial-gradient(circle at bottom right, #000, transparent);
  --color-theme-feature-text: #fff;
  --color-theme-main-link: linear-gradient(90deg, hotpink, orange);
}

body {
  color: var(--color-text);
  background: var(--color-bg);
}

main {
  overflow: hidden;
}

// ::selection {
//   color: var(--color-selection-text);
//   background: var(--color-selection-bg);
// }
