@font-face {
  font-family: 'WhiteRabbit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('WhiteRabbit'), local('White Rabbit'),
    url('/fonts/WhiteRabbit-47pD.woff') format('woff');
}

body {
  // Strip the unit off the size ratio to generate a line height
  $line-height: get-size(600);
  line-height: $line-height / ($line-height * 0 + 1);

  @include apply-utility('font', 'base');
}

h1,
h2 {
  font-family: "WhiteRabbit", Inconsolata, monospace;
}

h1 {
  font-size: get-size(700);
}

h2 {
  font-size: get-size(600);
}

h3 {
  font-size: get-size(400);
}

@include media-query('md') {
  h1 {
    font-size: get-size(900);
  }

  h2 {
    font-size: get-size(800);
  }

  h3 {
    font-size: get-size(600);
  }
}
